body {
 text-align: center;
 background: url("./images/yard.jpg") no-repeat center center fixed;
 background-size: cover;
 min-height: 100%;
 overflow: visible;
 
}

.main {
  content-align: center;
}

#myNav {
    background-color: rgba(255, 255, 255, 1);
    opacity: .9;
}



#centerCard {
    background-color: rgba(255, 255, 255, .9);;
    color: rgba(112, 74, 44, 1);;
    border-radius: 10px;
}

#jacksonsCard {
    background-color: rgba(255, 255, 255, .9);;
    color: rgba(112, 74, 44, 1);;
    border-radius: 10px;
}

#movingImg {
    width:100%;
    height: auto;
    border-radius: 2px;
}

.jobCol {
    margin: 5%;
}

#myButton {
    background-color: rgba(112, 74, 44, .9);
    color: rgba(255, 255, 255, 1);
}

#jacksonCardTitle {
    margin-top: 2%;
    margin-bottom: 4%;
}

#jacksonProfilePhoto {
    border-radius: 5px;
}

#jacksonDescription {
    margin-top: 2%;
}

#centerCardRow {
    margin-top: 10vh;
    content-align: center;
}

#centerRow{
    margin-top: 30vh
}

#bottomRow{
    margin-top: 10vh;
    margin-bottom: 20vh;
}

