body {
 text-align: center;
 background: url("./images/yard.jpg") no-repeat center center fixed;
 background-size: cover;
 min-height: 100%;
 overflow: visible;
 
}

.main {
  content-align: center;
}

#myNav {
    background-color: rgba(255, 255, 255, 1);
    /* opacity: .9; */
}



#centerCard {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(112, 74, 44, 1);;
    border-radius: 10px;
}

#movingImg {
    width:100%;
    height: auto;
    border-radius: 2px;
   
}

#myButton {
    background-color: rgba(112, 74, 44, 1);
    color: rgba(205, 195, 177, 1);
}

.jobCol {
    margin: 2%;
}

#firstRow {
    margin-top: 10%;
    content-align: center;
}

#secondRow{
    margin-top: 30%
}

#thirdRow{
    margin-top: 10%;
    margin-bottom: 20%;
}





#jacksonsCard {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(112, 74, 44, 1);;
    border-radius: 10px;
    
}

#jacksonCardTitle {
    margin-top: 2%;
    margin-bottom: 4%;
}

#jacksonProfilePhoto {
    border-radius: 5px;
}

#jacksonProfileLogo {
    opacity: .8;
    width: 70%;
    height: auto;
}

#jacksonDescription {
    margin-top: 2%;
}



#photoCard {
    height: auto;
    width: 100%;
    margin-bottom: 10%;
}



